# Ignore Python bytecode files
__pycache__

# Ignore logs
logs

# Ignore sensitive data file
sensitive.txt

# Ignore generated JSON files
yc_final.json
template.json

# Ignore generated output code
output_code

# Ignore Visual Studio Code settings
.vscode

# Ignore example-related files
examples/__pycache__
examples/logs
examples/temp_database
examples/temp_agent

# Ignore source distribution and egg info
/src/agent.egg-info
/src/dist

# Ignore agent logs
/src/agents/logs

# Ignore version control history
.git
.history

~