test.py
yc_final.json
.git
.history
examples/__pycache__
src/agents/__pycache__
.vscode
examples/logs
examples/temp_database
examples/temp_agent
/src/agent.egg-info
/src/dist
/src/agents/logs
__pycache__
logs
sensiteve.txt
template.json
output_code