beautifulsoup4
fastapi
google_api_python_client
google_auth_oauthlib
gradio==3.39.0
langchain==0.0.246
numpy
openai
pandas
Pillow
protobuf
psutil
PyYAML
Requests
selenium
sentence_transformers
setuptools
text2vec
torch
tqdm
uvicorn
pydantic==1.10.9