beautifulsoup4
fastapi
google_api_python_client
google_auth_oauthlib
gradio
langchain
numpy
openai
pandas
Pillow
protobuf
psutil
PyYAML
Requests
selenium
sentence_transformers
setuptools
text2vec
torch
tqdm
uvicorn