beautifulsoup4
fastapi
google_api_python_client
google_auth_oauthlib
gradio
langchain
numpy
openai
litellm
pandas
Pillow
protobuf
psutil
PyYAML
Requests
replicate
selenium
sentence_transformers
setuptools
text2vec
torch
tqdm
uvicorn
pydantic
typing_extensions
serpapi
google-search-results
